[submodule "tuw_multi_robot"]
	path = tuw_multi_robot
	url = https://github.com/tuw-robotics/tuw_multi_robot
[submodule "tuw_msgs"]
	path = tuw_msgs
	url = https://github.com/tuw-robotics/tuw_msgs
[submodule "tuw_geometry"]
	path = tuw_geometry
	url = https://github.com/tuw-robotics/tuw_geometry
